@import "reset.css";

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "GangwonEdu_OTFBoldA";
}

.yejis {
  position: relative;
  width: 95.1rem;
  height: 50rem;
  margin:auto;
  margin-top:0rem;
}

.start {
  width: 16rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.752);
  border-radius: 2rem;

  text-align: center;
  line-height: 50px;

  position: absolute;
  top: 35rem;
  left: 40rem;
}

.start:hover {
  border-radius: 16rem;
  width: 16rem;
  height: 3rem;
  background-color: #eee;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 5px 0 rgb(0,0,0,0.5);
}